/* Section for navbar */
html, body{
    margin: 0;
    background-color: #D9D9D9;
    font-weight: 300;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
}

#header{
    height: 50px;
    width: 100%;
    background-color:#9FBACE;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#header-nav {
    height: 50px;
    width: 1130px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center;
}

.navbar-page{
    display: block;
    float: left;

}


.dropdown-menu {
    list-style-type: none;
    margin:0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 9999;
    position: absolute;
    top: 50px;
}

.dropdown-item{
    color: black;
    background-color: #7395AE;
    
}

.on-hover:hover .dropdown-menu{
    display: block;
}

.dropdown-menu:hover {
    margin-top: 0px;
    padding-top: 0px;
}

.link {
    
    margin-right: 0px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration-line: none;
    color: black;
    display: block;
}

.dropdown-link {
    margin-right: 0px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    text-decoration-line: none;
    color: black;
    display: block;
    
}

.link:hover{
    background-color:  #7395AE;
    padding-bottom: 7px;
}

.dropdown-link:hover{
    background-color: rgb(48, 60, 68);
}

#search-bar {
    margin-top: 15px;
    height: 18px;
    width: 120px;
    background-color: white;
}

#logo {
    color: white;
    background-color:  #8B99A3;
    height: 50px;
}



/*Article  section*/

.article {
    width: 960px;
    background-color:#E9E9E9;
    /*width:80%*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* height: 100%; Remove this so that the article sections covers all the recipe items */
    min-height: 100%;
    margin-bottom: 20px;
}
.narrow-article{ /*Is needed to align the input fields*/
    width: 360px;
    /*width:80%*/
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /*height: 100%; Remove this so that the article sections covers all the recipe items*/
}
#meal_generated{
    height: 25px;
    display: inline-block;
    padding: 15px 5px;
    font-size: 24px;
   /* cursor: pointer;*/
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    /*background-color: #5b44dd; /*rgb(31, 30, 102);*/
    border: none;
    border-radius: 15px; /*Larger border-radius makes the block rounder*/
   /* box-shadow: 0 9px #999;*/


}
#headline {
    font-size: 36pt;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

/*RESPONSIVE */


@media screen and (min-device-width: 1035px), (min-width: 1035px){
    #small-header{
        display: none;
    }
}


@media screen and (max-device-width: 1035px), (max-width: 1035px){
   

    .article{
        width: 100%;
    }

    #small-header {
        display: none;
    }
}

@media screen and (max-device-width: 1035px), (max-width: 1035px){
    /*Setting css for small screen header*/
    #header {
        display: none;
    }

    #small-header {
        display: inline-block;
        width: 100%;
    }

    #logo {
        height: 50px;
        width: 240px;
        font-size: 40px;
    }

    #logo a{
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #small-dropdown {
        display: none;
        text-decoration-line: none;
        list-style-type: none;
        overflow: hidden;
        float: right;
        background-color: #9FBACE;
        width: 100%;
        margin-top: 27px;
        
    }

    #to-hov {
        position: absolute;
        right: 15px;
        top: -20px;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    #small-on-hover:hover #small-dropdown{
        display: block;
        text-decoration-line: none;
    }

    #small-on-hover{
        position: absolute;
        top: 23px;
        text-align: left;
        width: 100%;
        z-index: 1;
    }

    #small-dropdown li {
        margin: 10px;
        border-bottom: 0.4px solid rgb(197, 197, 197);
    }

    

    #small-dropdown a {
        color:rgb(0, 0, 0); 
        text-decoration-line: none;
        display: block;
        padding-bottom: 2px;
        font-size: 20pt
    }

    #under a{
        font-size: 17pt;
        color:rgb(255, 255, 255); 
    }

    #to-hov:hover {
        bottom: 100px;
        background-color: #9FBACE;
    }

    #small-search-bar {
        position: relative;
        bottom: 5px;
    }
}

/*Suggestions.html*/


#suggestion-form {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    display: inline;

}

.suggestion-form-child {
    width: 100%;
}

#ingredients {
    height: 150px;
    display: grid;
}

.sug {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    height: 23px;
    width: 240px;
    background-color: white;
    
}

#add-ing{
    margin-bottom: 20px;
}

#submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/*Recipe subpages*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
    align-content: center;
    justify-content: center;
    
}

h3 {
    margin: 0px;
}
/*Splitting of screen in different parts*/
.three-split{
    max-width: 23%; /*23% + margin allows for three recipe elements per row*/
    margin: 15px 15px;
    padding: 15px 15px;
    background-color: white;
    text-decoration: none;
    color: black;
    height: 220px;
    width: 220px;
    min-width: 220px;
}

/*Hover*/
.hover-shadow:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);

}
/*Image behavior*/
.img {
    position:relative;
    width: 100%

}

.img-container {
    height: 125px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}

.img-land {
    height: 150px;
    top: 0px;
    position: relative;
}

.landing {
    height: 300px;
    width: 220px;
    min-width: 220px;
}

.landing:hover {
    padding-bottom: 15px;
}


#sug-link{
    font-size: 30pt;
    color: black;
    background-color: #9FBACE;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}

.par{
    height: 95px;
}

#sug-link:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}



@media screen and (max-device-width: 960px), (max-width: 960px){
    #sug-link {
        font-size: 20pt;
        width: 100%;
        margin-bottom: 60px;
    }

}



/*RECIPE PAGE LAYOUT*/

.recipe-container {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.recipe-child {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
}

.ingredients {
    font-size: 10pt;
}

.ing-amount {
    display: inline;
}

.ing {
    padding: 5px;
    position: relative;
    text-align: start;
    left: 25px;
}

.ing-line {
    width: 80%;
}

#ing-headline {
    margin-top: 10px;
    color: rgb(55, 71, 83);
  
}

#headline-small-screen {
    display: none;
}

#portion-number {
    margin-bottom: 15px;
    text-align: start;
    position: relative;
    left: 25px;
}

#ingredients-box {
    width: 250px;
    background-color: white;
    position: relative;
    
}

#recipe-name {
    font-size: 36pt;
    position: relative;
    text-align: start;
    left: 20px;
}

#recipe-instructions {
    text-align: start;
}

#recipe-instructions li {
    margin: 5px;
}

@media screen and (max-device-width: 960px), (max-width: 960px){

    .ing {
        padding: 2px;
        width: 80%;
    }

    .ing-line {
        display: none;
    }

    .recipe-container {
        padding-top: 5px;
    }

    #headline-small-screen {
        display: block;
        font-size: 36pt;
    }

    #recipe-name{
        display: none;
    }

    #portion-number {
        margin-bottom: 10px;
        text-align: start;
        position: relative;
        left: 25px;
        width: 80%;
    }

    #recipe-image {
        width: 80%;
    }

    #recipe-name {
        width: 80%;
    }

    #ingredients-box {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        background-color: #D9D9D9
    }

    #ing-headline {
        text-align: start;
        position: relative;
        left: 30px;
    }

}
/*END OF RECIPE LAYOUT SECTION*/


/*Footer section*/

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 20px;
    background-color:  #7395AE;
}

/*Button behavior*/
.button {
    display: inline-block;
    padding: 25px 40px;
    margin-left: 5px;
    font-size: 35px; /*24px;*/
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#f4511e;/*rgb(31, 30, 102);*/
    opacity: 0.7;
    border: none;
    border-radius: 100px; /*Larger border-radius makes the block rounder*/
    box-shadow: 0 9px #999;
}
  
.button:hover {opacity:1; /* #5b44dd*/}
  
.button:active {
    background-color: #f80606;/*#5b44dd;*/
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#carbs {
    height: 25px;
    display: inline-block;
    padding: 15px 5px;
    font-size: 24px;
   /* cursor: pointer;*/
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5b44dd; /*rgb(31, 30, 102);*/
    border: none;
    border-radius: 15px; /*Larger border-radius makes the block rounder*/
    box-shadow: 0 9px #999;

}
#veg {
    height: 25px;
    display: inline-block;
    padding: 15px 5px;
    font-size: 24px;
   /* cursor: pointer;*/
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5b44dd; /*rgb(31, 30, 102);*/
    border: none;
    border-radius: 15px; /*Larger border-radius makes the block rounder*/
    box-shadow: 0 9px #999;

}
#meat {
    height: 25px;
    display: inline-block;
    padding: 15px 5px;
    font-size: 24px;
   /* cursor: pointer;*/
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5b44dd; /*rgb(31, 30, 102);*/
    border: none;
    border-radius: 15px; /*Larger border-radius makes the block rounder*/
    box-shadow: 0 9px #999;

}

/* INDEX */

#meal-of-day{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: start;
    margin-left: 18px;
    font-size: 36pt;
}

#meal-name{
    display: inline;
}

#meal-description{
    padding-bottom: 20px;
    text-align: start;
    margin-left: 18px;
}

#meal-link{
    color: black;

}
/*
#meal-img{
    position: relative;
    right: 18px;
}*/

/* END INDEX */

/* ABOUT US */

#about{
    text-align: start;
    margin-top: 20px;
    margin-right: 10%;
    
    margin-left: 10%;
    font-size: 14pt;
    line-height: 1.6;

}

/* END ABOUT US */

/* CONTACT */

#contact-desc{
        text-align: start;
        
        font-size: 14pt;
        line-height: 1.6;
}

#contact-body{
    margin-left: 36px;
    margin-right: 36px;
}

#contact-subtitle{
    font-size: 20pt;
    margin-top: 40px;
    text-align: start;


}

#contact-form {
    margin-top: 10px;
    text-align: start;

}
/*
.contact-form-child {
    width: 100%;
}
*/
.con {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 23px;
    width: 240px;
    background-color: white;
}

/* END CONTACT */